.cardsection-container {
    margin-left: 20px;
    margin-bottom: 48px;
    

    @media (min-width: 400px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 42px;
    }

    @media (min-width: 400px) and (max-width: 1208px) {
        align-items: flex-start; 
        margin-left: 0;
        max-width: 100%;
        overflow: hidden;
    }

    .section-and-button {
        display: inline-block;
        position: relative;
    }

}

.chefs-restaurants-section {
    @media(min-width: 400px) {
        justify-content: left;
    }
}

.section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @media(min-width: 400px) {
        justify-content: center;
        margin-bottom: 42px;
    }
}


.chefs-restaurants-title {
    @media(min-width: 400px) {
        width: 100%;
        text-align: start !important;
    }
}

.title {
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 1.25px;
    text-align: left;

    @media(min-width: 400px) {
        text-align: center;
        font-size: 30px;
        line-height: 35px;
    }
}




.cardsection-container-3 {
    margin-left: 0px;

    .section-and-button {
        width: 100%;
        .chefs-restaurants-section {
            justify-content: start;
        }
    }
}

